@use "src/styles/vars";
@use "src/styles/responsive-breakpoints" as media;

@keyframes cursorBlink {
  0% {
    opacity: 0;
  }
}

.resultpanel {
  width: 95%;
  height: 80vh;
  border: 1px solid vars.$dark-grey;
  margin: 1em;
  padding: 1em;
  &__search {
    display: flex;
    align-items: flex-end;
    &--animate::after {
      content: "";
      width: 3px;
      height: 1.25em;
      background: vars.$white;
      display: inline-block;
      animation: cursorBlink 1.5s steps(2) infinite;
    }
  }
  &__navigation {
    & span {
      padding-left: 1em;
      font-weight: 700;
      text-decoration: underline;
      &:hover {
        letter-spacing: 0.1em;
      }
      &:nth-child(2) {
        padding-left: 5em;
      }
    }
  }
  &__result {
    padding-left: 2em;
    &__list {
      list-style: inside;
      cursor: pointer;
      &:hover {
        font-weight: 700;
        text-decoration: underline;
      }
      &--active {
        font-weight: 700;
      }
    }
  }
  .resultdetails {
    position: relative;
    &__separator {
      display: flex;
      &::after {
        content: "";
        position: absolute;
        left: 1em;
        top: 0.3em;
        width: 40%;
        height: 1px;
        background-color: vars.$white;
      }
    }
    &__list {
      padding-left: 1em;
      & li {
        list-style: inside;
      }
    }
  }
}

@include media.responsive("tablet") {
  .resultpanel {
    width: 80%;
    font-size: 1.2em;
  }
}
@include media.responsive("desktop") {
  .resultpanel {
    width: 60%;
  }
}
