$deep-green: hsl(163, 13%, 27%);
$alter-deep-green: hsl(163, 13%, 25%);
$trans-deep-green: hsla(163, 13%, 27%, 0.5);

$dark-green: hsl(166, 19%, 40%);
$alter-dark-green: hsl(165, 19%, 35%);
$trans-dark-green: hsla(166, 19%, 40%, 0.5);

$pale-green: hsl(97, 13%, 80%);
$alter-pale-green: hsl(97, 13%, 75%);
$trans-pale-green: hsla(97, 13%, 80%, 0.5);

$beige: hsl(23, 92%, 95%);
$alter-beige: hsl(30, 100%, 93%);
$trans-beige: hsla(23, 92%, 95%, 0.5);

$off-white: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 2%, 9%);

$fastTransition: 0.2s;
$slowTransition: 1s;
$test: hsl(165, 19%, 40%);
