$People: #419ebb;
$Planets: #d83a34;
$Films: #6f2ed6;
$Species: #eda249;
$Starships: #1ec2a4;
$Vehicles: #d14c32;
$main-bg: #070724;
$dark-grey: #38384f;
$grey: #838390;

$off-white: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 2%, 9%);
