@use "src/styles/vars";
@use "src/styles/responsive-breakpoints" as media;
.header {
  width: 100%;
  [data-searched="People"] {
    --active-color: #419ebb;
  }
  [data-searched="Planets"] {
    --active-color: #d83a34;
  }
  [data-searched="Films"] {
    --active-color: #6f2ed6;
  }
  [data-searched="Species"] {
    --active-color: #eda249;
  }
  [data-searched="Starships"] {
    --active-color: #1ec2a4;
  }
  [data-searched="Vehicles"] {
    --active-color: #d14c32;
  }
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    border-bottom: 0.2em solid vars.$dark-grey;
    height: 5rem;
  }
  &__secondary {
    display: none;
    &--small {
      display: flex;
      justify-content: space-between;
      padding: 0 2em;
      border-bottom: 1px solid vars.$dark-grey;
      height: 4rem;
      align-items: stretch;
    }
    &__title {
      color: vars.$grey;
      cursor: pointer;
      &--active {
        color: vars.$white;
        border-bottom: 5px solid var(--active-color);
      }
    }
  }
  &__mobile {
    position: fixed;
    top: 6em;
    width: 100%;
    height: 100vh;
    background-color: vars.$main-bg;
    padding: 2em;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
    z-index: 999;
    &--hidden {
      transform: translateX(100%);
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1em 0;
      border-bottom: 0.2em solid vars.$dark-grey;
      cursor: pointer;
      &__dot {
        height: 1.5em;
        width: 1.5em;
        border-radius: 0.75em;
        background-color: var(--active-color);
      }
      &__title {
        margin-left: 2em;
        padding-top: 3px;
      }
      &__icon {
        margin-left: auto;
      }
    }
  }
}

@include media.responsive("tablet") {
  .header {
    &__main {
      justify-content: center;
      border: none;
      flex-direction: column;
      width: 100%;
      height: 9rem;
      padding: unset;
      &__burger {
        display: none;
      }
    }

    &__secondary {
      display: flex;
      justify-content: space-between;
      padding: 0 2em;
      border-bottom: 1px solid vars.$dark-grey;
      height: 4rem;
      align-items: stretch;
      width: 100%;
      &__title {
        cursor: pointer;
        color: vars.$grey;
        &--active {
          color: vars.$white;
          border-bottom: 5px solid var(--active-color);
        }
      }
      &--small {
        display: none;
      }
    }
  }
}
@include media.responsive("desktop") {
  .header {
    &__main {
      height: 5rem;
      padding-inline: 2em;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid vars.$dark-grey;
    }
    &__secondary {
      margin-left: auto;
      display: flex;
      border: none;
      justify-content: flex-end;
      line-height: 5rem;
      height: 5rem;
      width: auto;

      &__title {
        color: vars.$grey;
        margin-left: 2em;
        height: 5rem;
        line-height: 5rem;
        &--active {
          color: vars.$white;
          border-top: 5px solid var(--active-color);
          border-bottom: none;

          line-height: 4.4rem;
        }
      }
    }
  }
}
